.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
}

.logo {
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}

.logo_place_header {
  height: 32px;
  width: 183px;
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  position: relative;
  left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  position: relative;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.description p {
  margin-top: 0;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  flex-basis: 175px;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}

p:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.digits {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.table__heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.feynman {
  position: relative;
  height: 790px;
  margin-bottom: 0px;
  padding-top: 80px;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.feynman__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  margin-top: 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-size: contain;
  z-index: -1;
}

.table_theme_dark {
  color: white;
  z-index: 1;
}

.theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  line-height: 1.2;
  font-size: 18px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__column:first-child {
 justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
  left: 0;
  top: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-shrink: 1;
  margin-bottom: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  padding-bottom: 18px;
  padding-top: 18px;
}

.footer__social-icons {
  position: relative;
  width: 16px;
  height: 16px;
  background-size: contain;
  margin-right: 10px;
}

.footer__column_content-social {
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  flex-shrink: 2;
}

.footer__column_content-info {
  margin-right: auto;
  margin-left: auto;
  flex-shrink: 1.5;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-left: 0;
}
